<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput [(ngModel)]="email" type="email" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="password" type="password" required>
      </mat-form-field>

      <!-- Mensaje de error -->
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <button mat-raised-button color="primary" class="login-button" (click)="login()">Ingresar</button>
    </mat-card-content>
  </mat-card>
</div>
